body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background color */
  color: #ffffff; /* Light text color */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #1f1f1f; /* Darker background color */
  color: #ffffff; /* Light text color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Adjust shadow color */
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #000; /* Change background color to black */
  color: #fff; /* Change text color to white */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #fff; /* Link text color */
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000; /* Inner box background color */
}

a:hover {
  background-color: #333; /* Darken inner box on hover */
}

